html {
  font-family: century;
  font-weight: 10px;
  scroll-behavior: smooth;
}

.Title{
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 3%;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/05/16/79/2259b67a9c03dca.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: bottom;
}
.header{
  font-family: century;
  font-weight: lighter;
  text-align: left;
  background-color: : #e8aba0;
  color: black;
  font-size: 20px;
  padding: 8%;


}

.link{
  color: green;
}
#HP_pic{
	height: 65%;
	width: 50%;
	height: 306px;
	width: 600px;
  margin-right: 5%;
  margin-top: 5%;
  border-radius: 30px;
}
.foodImg{
  height: 50%;
  width: 35%;
  margin-right: 50%;
  margin-top: 5%;
  border-radius: 50px;
}
#wo{
  background-color: #ceeef5;
}
#ni{
  background-color: #f7e1e2;
}
#moon{
  float: center;
  height: 50%;
  width: 35%;
  margin-right: 50%;
  margin-top: 5%;
  border-radius: 50px;
}
#zongzi{
  height: 10%;
  width: 10%;
  float: right;
  border-radius: 50px;
}
.tvshow{
  height: 40%;
  width: 40%;
  float: right;
  border-radius: 50px;
}
#dragon{
  height: 380px;
  width: 700px;
  float: center;
  border-radius: 50px;
}
.description{
  margin-right: 100px;
}

/* body {
  background: url(https://pic.chinesefontdesign.com/uploads/2017/03/chinesefontdesign.com_2017-03-20_17-52-49.jpg);
  background-repeat: repeat-y;
  background-size: cover;
} */
.column {
  float: left;
  width: 33.33%;
}
.column2 {
  float: left;
  width: 50%;
}
.column3{
  float: left;
  width: 33.33%;
  background-color: #f7e1e2;
}
.column4{
  float: left;
  width: 33.33%;
  background-color: #ceeef5;
}
.column5{
  float: right;
  width: 400px;
  height: 268px;
  border-radius: 50px;
  margin-left: 40px;
  margin-right:70px;
  margin-bottom: 30px;
}
.column6{
  float: left;
  width: 400px;
  height: 268px;
  margin-left: 30px;
  margin-right:60px;
  border-radius: 50px;
  margin-bottom: 30px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




/* {font-family: Courier;} */
/* Style the tab */
/* .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
/*
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #839ba6;
}
.tab button.active {
  background-color: #ccc
} */



.Page {
  font: 13px century;
  text-align: left;
    font-size: 60px;
    color: #3b3b3b;
    line-height: 80%;
    margin-top: 150px;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  /* padding-left: 2%;
  padding-right: 2%; */
}


/* Buttons and stuff */

.button {
  height : 80px;
  width : 200px;
  border-radius: 12px;
}



/* Style the collapsible content. Note: hidden by default */
.content {
  margin-left: 30px;
  padding-left: 30px;
  display: none;
  overflow: hidden;
  background-color: #f0f5ff;
  font-size: 24px;
  width: 60%;
  border-left: 30px;
  border-radius: 12px;
}

.moving-letters {
  position: absolute;
  top: 25;
  right: 55;
  left: 55;
  bottom: 55;
  margin: auto;
  height: 200px;
}



  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: black;
    display: none;
    padding: 100px;
  }



  /* Style tab links */
  .tablink {
    background-color: #403232;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 16.667%
  }

  .tablink:hover {
    background-color: #777;
  }


  #Home {  background: url("https://media2.giphy.com/media/9svhot8rVfudG/giphy.gif");
    background-repeat: none;
    background-size: cover;
  }
  #Holidays{
    background: url("https://image.freepik.com/free-vector/abstract-colorful-pastel-gradient-tone_38782-12.jpg");
    background-repeat: none;
    background-size: cover;
  }
  #Entertainment {
    background: url("https://webgradients.com/public/webgradients_png/034%20Lemon%20Gate.png");
    background-repeat: none;
    background-size: cover;}
  #Food {background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8POtL4WBGPjADFYhb7B8F6-z-ih_9GhX41oVmijZLCNEoLOsf");
  background-repeat: none;
  background-size: cover;}
  #Conversation {
    background: url("");
    background-repeat: none;
    background-size: cover;}
  #Tourist{
      background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAnjqibR3UJQDo0oAINCGgzPKHbjS00W_a8sV_nhhpom9Xps2V");
      background-repeat: none;
      background-size: cover;
  }
